@charset "UTF-8";


/* nav ul { */
/*   display: flex; */
/*   justify-content: space-between; */
/* } */
body {
    background: linear-gradient(to bottom, #002b36, #073642);
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Titres */
h1, h2 {
    color: #00bcd4;
}

/* Liens */
a {
    color: #a1ecff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Bordures des cartes */
.card {
    background-color: #073642;
    border: 1px solid #00bcd4;
    color: #ffffff;
}

/* Boutons */
button {
    background-color: #00bcd4;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #008c9e;
}