<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Connexion</title>
	<!--doit renvoyer vers une page mon proofil/ creation></!-->
	<link rel="stylesheet" th:href="@{/css/general.css}" />
	<link rel="icon" th:href="@{/images/logoENI.png}" />
	<link rel="stylesheet" th:href="@{/css/tp-form.css}" />
</head>
<body>
<div th:replace="~{fragments/fragment-lien-titre :: frag-titre}"></div>
	<section>
		<form th:action="@{/login}" method="POST">
			<ul>
				<li>
					<label for="">Email</label>
					<input type="text" name="username"/>
				</li>
				<li>
					<label for="">Mot de passe</label>
					<input type="password" name="password" />
				</li>
				<li>
					<button type="submit">Connexion</button>
				</li>
			</ul>
		</form>
	</section>
	<section>
		<button type="button" onclick="window.location.href='/mon-profil-creation'">Créer un compte</button>
	</section>
</body>
</html>