<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--affiche la page pour modifier le profil une fois connecter
	</!-->

	<title>ENI Enchères - mon profil</title>
</head>
<header>
	<h2>ENI-Enchères</h2>
</header>
<body>
	<section>
		<h1>Mon profil</h1>
	</section>
	<section>
		<table>
        	<tr>
            	<th>Pseudo</th>
            	<td th:text="${utilisateur.pseudo}"></td>
        	</tr>
        	<tr>
            	<th>Nom</th>
            	<td th:text="${utilisateur.nom}"></td>
        	</tr>
        	<tr>
            	<th>Prénom</th>
            	<td th:text="${utilisateur.prenom}"></td>
        	</tr>
        	<tr>
            	<th>Email</th>
            	<td th:text="${utilisateur.email}"></td>
        	</tr>
        	<tr>
            	<th>Téléphone</th>
            	<td th:text="${utilisateur.telephone}"></td>
        	</tr>
        	<tr>
            	<th>Rue</th>
            	<td th:text="${utilisateur.rue}"></td>
        	</tr>
        	<tr>
            	<th>Code Postal</th>
            	<td th:text="${utilisateur.codePostal}"></td>
        	</tr>
        	<tr>
            	<th>Ville</th>
            	<td th:text="${utilisateur.ville}"></td>
        	</tr>
    	</table>
    	<a href="/mon-profil-detail">Modifier mon profil</a>
	</section>
</body>
</html>