<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/general.css}" />
	<link rel="icon" th:href="@{/images/logoENI.png}" />
	<link rel="stylesheet" th:href="@{/css/NewFile.css}" />
	<!--affiche la page pour modifier le profil une fois connecter
	</!-->

	<title>ENI Enchères - mon profil</title>
</head>
<header>
	
</header>
<body>
	<div th:replace="~{fragments/fragment-lien-titre :: frag-titre}"></div>
	<section>
		<h1>Profil</h1>
	</section>
	<section>
		<table> 
		   	<tr>
            	<th>Pseudo</th>
            	<td th:text="${utilisateurVendeur != null ? 
            				 utilisateurVendeur.pseudo : utilisateurSession.pseudo}"></td>
        	</tr>
        	<tr>
            	<th>Nom</th>
            	<td th:text="${utilisateurVendeur != null ? 
            				 utilisateurVendeur.nom : utilisateurSession.nom}"></td>
        	</tr>
        	<tr>
            	<th>Prénom</th>
            	<td th:text="${utilisateurVendeur != null ? 
            				 utilisateurVendeur.prenom : utilisateurSession.prenom}"></td>
        	</tr>
        	<tr>
            	<th>Email</th>
            	<td th:text="${utilisateurVendeur != null ? 
            				 utilisateurVendeur.email : utilisateurSession.email}"></td>
        	</tr>
        	<tr>
            	<th>Téléphone</th>
            	<td th:text="${utilisateurVendeur != null ? 
            				 utilisateurVendeur.telephone : utilisateurSession.telephone}"></td>
        	</tr>
        	<tr>
            	<th>Rue</th>
            	<td th:text="${utilisateurVendeur != null ? 
            				 utilisateurVendeur.rue : utilisateurSession.rue}"></td>
        	</tr>
        	<tr>
            	<th>Code Postal</th>
            	<td th:text="${utilisateurVendeur != null ? 
            				 utilisateurVendeur.codePostal : utilisateurSession.codePostal}"></td>
        	</tr>
        	<tr>
            	<th>Ville</th>
            	<td th:text="${utilisateurVendeur != null ? 
            				 utilisateurVendeur.ville : utilisateurSession.ville}"></td>
        	</tr>
    	</table>
    	<!-- <button th:if="${utilisateurVendeur = null ?" 
    	type="button" onclick="window.location.href='/mon-profil-detail'">Modifier mon compte</button> -->
    	
	</section>
</body>
</html>